body {
	background:#000;
	margin:0;
	padding:0;
	color: #ececec;
	font: 13pt Arial, Helvetica, sans-serif;
}


object {
	background:#000;
}
#page {
	margin:auto;
	width: 85%;
}
#header {
	height: 100px;
	border-bottom: 1px solid #666;
	padding: 10px 0 0 0;
}
#header ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
#header li {
	float: left;
}
#header li a {
	display: block;
	padding: 4px 12px;
	color: #fff;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
#header li a:hover {
	color: #fff;
	text-decoration: underline;	
}
#header h2 a { color: #fff; text-decoration: none; }

#logo_holder {
	clear: left;
	float: left;
}

a {
	color: #fff;
}